@media(max-width:768px) {
    h1{
        font-size: 10vw;
    }

    .subh1{
        font-size: 4vw;
    }

    .content{
        width:100%;
    }

    .faceBookPosts{
        flex-direction: column;
        height:auto;
    }

    .faceBookPost{
        width:90%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}