.header, .headerContents{
    height: 52px;
}
.header{
    color: white;
    background-color: var(--colour-one);
    width:100%;
    position: fixed;
    z-index: 10;
    top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(22, 22, 22, 0.164);
}

.progBar{
    height: 6px;
    width:0%;
    top:52px;
    background-color: var(--colour-two);
    position: fixed;
    z-index: 11;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(22, 22, 22, 0.164);
}
.headerContents{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.headerButtons{
    display: flex;
    align-items: center;
    flex-direction: row;
    align-self: right;
    justify-content: right;
    width: 100%;
    height: 100%;
}

.headerButton{
    cursor:pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerButton :hover{
    background-color: rgba(90, 90, 90, 0.322);
    transition: 0.10s;
}

.headerButtonText{
    color:rgb(255, 255, 255);
    font-size: 14pt;
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.logo{
    position: relative;
    left:-4px;
    top:43px;
    width:130px; 
    border: solid;
    border-radius: 50%;
    border-width: 6px;
    border-color: var(--colour-one);
    cursor: pointer;
    z-index: 12;
}