.heading, .headingContents{
    height: 95vh;

}

.heading{
    background-image: url("../img/header.jpg");
    background-color: #cccccc; /* Used if the background is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.heading::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(92, 66, 45, 0.267);
}

.headingContents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1{
    margin:0;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 6vw;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: h1Load 0.6s ease-out;
}

.subh1{
    color: rgba(255, 255, 255, 0.801);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;

    animation: subh1Load 0.6s ease-in-out;
}

.imgBubbleSelector{
    display: flex;
    position: relative;
    top: 21%;
}

.imgBubble{
    margin: 3px;
    height: 15px;
    width: 15px;
    background-color: rgb(255, 255, 255);
    border: solid;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 50%;
}

@keyframes h1Load{
    from{margin-left: 2%; opacity: 0;}
}

@keyframes subh1Load{
    from{color: rgb(107, 107, 107);}
}