.header{
    color: white;
    background-color: rgb(22, 22, 22);

    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(22, 22, 22, 0.164);

}

.progBar{
    height: 6px;
    width:0%;
    top:70px;
    background-color: rgb(78, 56, 39);
    border: solid;
    border-color: rgb(75, 53, 38);
    border-width: 1px;
    position: fixed;
    z-index: 11;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(22, 22, 22, 0.164);
}

.headerContents{
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.headerButton{
    padding-left:20px;
    padding-right: 20px;
    cursor:pointer;
}

.headerButtonText{
    color:rgb(255, 255, 255);
    font-size: 16pt;
    cursor: pointer;
}

.logo{
    width:70px; 
    border-radius: 50%;
    cursor: pointer;
}