.header, .headerContents{
    height: 52px;
}
.header{
    color: white;
    background-color: var(--primary-colour);
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(22, 22, 22, 0.164);
}

.progBar{
    height: 6px;
    width:0%;
    top:52px;
    background-color: var(--secondary-colour);
    position: fixed;
    z-index: 11;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(22, 22, 22, 0.164);
}

.headerContents{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.headerButton{
    padding-left:20px;
    padding-right: 20px;
    cursor:pointer;
}

.headerButtonText{
    color:rgb(255, 255, 255);
    font-size: 14pt;
    cursor: pointer;
}

.logo{
    width:43px; 
    border-radius: 50%;
    cursor: pointer;
}