.teamBox{
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: var(--colour-three);
}

.teamBoxContents{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.teamBoxHeading{
    color:rgb(255, 255, 255);
    font-size: 26pt;
    font-family: var(--font-family-two);
    text-align: right;
}

.teamBoxTitle{
    padding-left: 30%;
}

.teamMember{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.teamMemberImg{
    width: 90%;
    padding: 15px;
}

@media(max-width:768px) {
    .teamBox{
        padding: 30px;
    }
}