.aboutBox{
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-right:60px;
}

.aboutBoxSection1{
    width:40%;
    background-color: var(--colour-one);
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutBoxSection2{
    width:60%;
    background-color: var(--colour-one);
    padding-top:20px;
    padding-bottom:30px;
}

.aboutSectionImg{
    width:50%;
    height:auto;
    padding-top:20px;
    padding-bottom:30px;
}

.aboutHeading{
    color:rgb(255, 255, 255);
    font-size: 26pt;
    font-family: var(--font-family-two);
    text-align: right;
}

.aboutText{
    color:rgb(255, 255, 255);
    font-size: 16px;
    font-family: var(--font-family-one);
    padding-bottom: 35px;
}

.emphasisAboutText{
    color: rgb(167, 122, 86);
    font-size: 20px;
    font-family: var(--font-family-one);
}

@media(max-width:768px) {
    .aboutBox{
        flex-direction: column;
        padding-left: 60px;
    }
    .aboutBoxSection1{
        width:100%;
    }
    .aboutBoxSection2{
        width:100%
    }
    .aboutSectionImg{
        display: none;
    }
}