.galleryImgs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galleryImg{
    width:auto;
    height:200px;
    padding: 7px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.gallery{
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: var(--colour-three);
}

.galleryTitle{
    padding-left: 30%;
}

.galleryHeading{
    color:rgb(255, 255, 255);
    font-size: 24pt;
    font-family: var(--font-family-two);
    text-align: right;
}

@media(max-width:768px) {
    .gallery{
        padding: 30px;
    }
    .galleryImg{
        height:150px;
        padding: 3px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
    .galleryHeading{
        font-size: 22pt;
    }
}