:root {
    --colour-one:rgb(27, 27, 27);
    --colour-two:rgb(167, 122, 86);
    --colour-three:rgb(40, 40, 40); /* second content section colour */
    --colour-four:rgba(90, 90, 90, 0.322); /* hover colour*/
    --colour-five:rgb(230, 180, 74); /* mustard colour */
    --font-family-one:Verdana, Geneva, Tahoma, sans-serif;
    --font-family-two:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin:0;
    height: 100%;
    background-color: var(--colour-two);
}

.content{
    position: relative;
    height: 100%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.contentSection{
    background-color: var(--colour-one);
    border: solid;
    border-color: rgba(95, 95, 95, 0.438);
    border-width: 1px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(22, 22, 22, 0.164);
    position: relative;
}

.divider{
    border-color: rgb(180, 180, 180);
}

.text{
    color:rgb(255, 255, 255);
    font-size: 12pt;
    font-family: var(--font-family-one);
}

.ctaButtonContainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.ctaButton{
    width: 150px;
    height: 40px;
    background-color: var(--colour-five);
    cursor: pointer;
    border: solid;
    border-width: 2px;
    border-color: var(--colour-five);
    border-radius: 10px;

    box-shadow: -1px 1px 8px 0 rgba(0, 0, 0, 0.418);

    transition: 0.4s;

}

.ctaButton:hover{
    background-color: rgba(229, 209, 166, 0);
    box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.418);
    transition: 0.2s;
}

.ctaButtonText{
    height: 100%;
    width: 100%;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-one);
    font-weight: bold;
    transition: 0.4s;
    font-size: 12pt;
}

.ctaButton:hover .ctaButtonText{
    color: white;
}


.faceBookPosts{
    display: flex;
    flex-direction: row;
    height: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}

.faceBookPost{
    width:31%;
    height:500px;
    border:none;
    overflow:hidden;
    margin-left:auto;
    margin-right:auto;

    background-color: rgb(255, 255, 255);

    border: solid;
    border-color: var(--colour-one);
    border-width: 4px;
}

.awardSection{
    height: 300px;
    display: flex;
    flex-direction: row;
}

.certificateRibbon{
    transform: rotate(30deg);
    height: 420px;
    z-index: 200;
    position: relative;
    top:-40px;
    left:-120px;
}

.reviewsContainer{
    padding:60px;
}

.reviewContainerContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
}

.reviewContainer{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reviewsHeading{
    color:rgb(255, 255, 255);
    font-size: 24pt;
    font-family: var(--font-family-two);
    text-align: right;
}

.reviewsTitle{
    padding-left: 30%;
}

.reviewText{
    color:rgb(190, 190, 190);
    font-size: 15px;
    font-family: var(--font-family-one);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 30px;
}

.quotationMark{
    width: 35px;
    padding-bottom: 30px;
}

@media(min-width:1280px){
    .content{
        width: 1152px;
    }
}

@media(max-width:768px) {
    .content{
        width:100%;
    }

    .faceBookPosts{
        flex-direction: column;
        height:auto;
    }

    .faceBookPost{
        width:90%;
        height: 400px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .reviewsContainer{
        padding: 30px;
    }

    .reviewsHeading{
        font-size: 22pt;
    }
}