.header, .headerContents{
    height: 42px;
}

.header{
    color: white;
    background-color: var(--colour-one);
    width:100%;
    position: fixed;
    z-index: 10;
    top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(22, 22, 22, 0.164);
}

.progBar{
    height: 6px;
    width:0%;
    top:42px;
    background-color: var(--colour-five);
    position: fixed;
    z-index: 11;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(22, 22, 22, 0.164);
}

.headerContents{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.headerButtons{
    display: flex;
    align-items: center;
    flex-direction: row;
    align-self: right;
    justify-content: right;
    width: 100%;
    height: 100%;
}

.headerButton{
    cursor:pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden; /* THIS IS RESPONSIBLE FOR THE DROP DOWN VANISHING */
    background-color: var(--colour-one);
    transition: 0.2s; /* transition off click */
}

.headerButton:hover{
    background-color: var(--colour-four);
    transition: 0.10s;
    overflow:visible; /* THIS IS RESPONSIBLE FOR THE DROP DOWN APPEARING */
    transition: 0.1s; /* transition into click */
}

.headerButtonText{
    color:rgb(255, 255, 255);
    font-size: 14pt;
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    font-family: var(--font-family-one);
}

.logo{
    width:90px; 
    border: solid;
    border-radius: 50%;
    border-width: 6px;
    border-color: var(--colour-one);
    cursor: pointer;
    z-index: 13;
    transition: 0.3s;
}

.logoContainer{
    width: 102px;
    height: 102px;
    position: relative;
    left:-4px;
    top:28px;
    cursor: pointer;
    z-index: 12;
}

.logoContainer:hover .logo{
    left:-1px;
    top:74px;
    width:180px;
    transition: 0.5s;
}

.headerButtonContainer{
    height: 100%;
}

.headerDropDown{
    display: block;
    background-color: var(--colour-one);
    width: 100%;
    z-index: 100;
}

.dropDownSection{
    height: 35px;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
    background-color: var(--colour-one);
    transition: 0.2s; /* transition off click */
}

.dropDownText{
    padding-left: 12px;
    font-family: var(--font-family-one);
}

.dropDownSection:hover{
    background-color: var(--colour-four);
    transition: 0.1s; /* transition into click */
}

#menuButtonContainer{
    aspect-ratio:1;
    display: none;
}

.menuButtonSymbol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menuButtonSection{
    height: 2px;
    width:60%;
    background-color: white;
    margin: 3.5px;
    border-radius: 1px;
}

.mobileMenu{
    width:100%;
    height:100vh;
    background-color: var(--colour-one);
    display: none;
}

.menuButtonX{
    font-family: var(--font-family-one);
    font-size: 24pt;
    display: none;
}

.mobileMenuButtonContainer{
    height: 100px;
}

#socialMediaHeaderButtonText, #socialMediaHeaderDropDown{
    position: relative;
    top: 62px;
}

@media(max-width:768px) {
    .headerButtonText{
        font-size: 10pt;
        padding-left: 5px;
        padding-right: 5px;
    }

    .logo{
        width:90px; 
        border-width: 3px;
    }
    
    .logoContainer{
        width: 102px;
        height: 102px;
        left:-2px;

    }

    .progBar{
        display: none;
    }

    #menuButtonContainer{
        display: block;
    }

    .headerButtonContainer{
        display: none;
    }
}