.header, .headerContents{
    height: 42px;
}
.header{
    color: white;
    background-color: var(--colour-one);
    width:100%;
    position: fixed;
    z-index: 10;
    top: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(22, 22, 22, 0.164);
}

.progBar{
    height: 6px;
    width:0%;
    top:42px;
    background-color: var(--colour-two);
    position: fixed;
    z-index: 11;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 1px 8px 0 rgba(22, 22, 22, 0.164);
}
.headerContents{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.headerButtons{
    display: flex;
    align-items: center;
    flex-direction: row;
    align-self: right;
    justify-content: right;
    width: 100%;
    height: 100%;
}

.headerButton{
    cursor:pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerButton:hover{
    background-color: var(--colour-four);
    transition: 0.10s;
}

.headerButtonText{
    color:rgb(255, 255, 255);
    font-size: 14pt;
    cursor: pointer;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.logo{
    position: relative;
    left:-4px;
    top:28px;
    width:90px; 
    border: solid;
    border-radius: 50%;
    border-width: 6px;
    border-color: var(--colour-one);
    cursor: pointer;
    z-index: 12;
}

.headerButtonContainer{
    height: 100%;
}

.headerDropDown{
    display: none;
    border: solid;
    border-width: 1px;
    border-color: grey;
    background-color: var(--colour-one);
    width: 100%;
}

.dropDownSection{
    height: 35px;
    display: flex;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

.dropDownText{
    padding-left: 12px;
}

.headerDropDown :hover{
    background-color: var(--colour-four);
}

#menuButtonContainer{
    aspect-ratio:1;
    display: none;
}

.menuButtonSymbol{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.menuButtonSection{
    height: 2px;
    width:60%;
    background-color: white;
    margin: 3.5px;
    border-radius: 1px;
}

.mobileMenu{
    width:100%;
    height:100vh;
    background-color: var(--colour-one);
    display: none;
}

.menuButtonX{
    font-family: var(--font-family-one);
    font-size: 24pt;
    display: none;
}

.mobileMenuButtonContainer{
    height: 100px;
}

#socialMediaHeaderButton:hover #socialMediaHeaderDropDown{
    display: block;
}

#socialMediaHeaderButton{
    position: relative;
    top:69px;
}

@media(max-width:768px) {
    .headerButtonText{
        font-size: 10pt;
        padding-left: 5px;
        padding-right: 5px;
    }

    .logo{
        width:47px;
        top:2px;
        left:0px;
        border-width: 2px;
    }

    .progBar{
        display: none;
    }

    #menuButtonContainer{
        display: block;
    }

    .headerButtonContainer{
        display: none;
    }
}